h3 {
    text-align: center;
}

/**
	CSS by Class
*/
.scrollable {
	display: block;
	height: 38%;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

.hidden {
	display: none;
}

/**
	CSS by ID
*/
#banner {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#clearButton {
	background-color: #FF0026;
	border-color: #E00021;
	color: white;
}

#rawCode {
	padding: 3%;
	width: 75%;
}

#formattedCode {
	display: block;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 3%;
	text-align: left;
}


#generateButton {
	background-color: #0094FF;
	border-color: #007FDB;
	color: white;
}

#navigator {
	cursor: pointer;
}

#outputContent {
	height: 90%;
	width: 50%;
	top: 20%;
}

.documentation-form button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.hidden {
    display: none;
}

.documentation-button {
    width: 100%;
}

.documentation-form {
    background-color: white;
    border: 2px solid black;
    padding: 2%;
    padding-left: 2%;
    padding-right: 2%;
    width: 50%;
}

.documentation-form input {
    width: 98%;
}

.documentation-menu {
    background-color: white;
    border: 2px solid black;
    left: 50%;
    height: auto;
    padding-bottom: 0%;
    position: absolute;
    top: 50%;
    width: 25%;
}

.select-wrapper {
    text-align: center;
}
